<head><link href=/static/css/app.baa9bb9257c7ba8775e6459b34d6a33a.css rel=stylesheet></head><div id=app><p>input 元素：</p><input v-model=message placeholder=编辑我……><p>消息是: {{ message }}</p><p>textarea 元素：</p><p style="white-space: pre">{{ message2 }}</p><textarea v-model=message2 placeholder=多行文本输入……></textarea></div><script>new Vue({
  el: '#app',
  data: {
    message: 'Runoob',
    message2: '菜鸟教程\r\nhttp://www.runoob.com'
  }
})</script><script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script><script type=text/javascript src=/static/js/vendor.42fc6c515ccdfe89bd76.js></script><script type=text/javascript src=/static/js/app.5fb31ae3b92bad237e92.js></script>